.userHomePage_contentDiv {
    /* width: 100%; */
    /* flex-grow: 1; */
    /* padding-top: 10px; */
    overflow-y: hidden;
}

.userHomePage_contentInnerDiv {
    background: #FFFFFF;
    /* shadow */

    box-shadow: 6px 4px 8px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.topNavBar {
    background: #FFFFFF;
    /* shadow */
    overflow: hidden;
    box-shadow: 6px 4px 8px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    /* height: 60px; */
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.2s;
}

.userHomePage_outerDiv {
    /* position: fixed; */
    /* width: 100px; */
    /* background-color: #E3F2DC; */
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex_container {
    display: flex;
    /* flex-wrap: wrap; */
    height: 100%;
    width: 100%;
}

.sideNavBar {

    /* width: 276px; */
    overflow-y: hidden;
    background: #FFFFFF;
    box-shadow: 6px 4px 8px -2px rgba(0, 0, 0, 0.08);
    border-radius: 12px 12px 12px 12px;
    height: 100%;
    overflow-x: hidden;

}
.sideNavBar .sdeNavouterDiv{
    height: 100%;
    overflow-y: auto;
}

.sideNavBarOuter {
    width: 250px;
    height: 100%;
    transition: width 0.2s;
    overflow: hidden;
    z-index: 2;
}

.navBarOuter {
    width: 100%;
    height: 100dvh;
    position: fixed;
    padding: 10px;
}

.rightFlexItem {
    /* flex-grow: 1; */
    width: 300px;
}

@media screen and (max-width: 800px) {
    .sideNavBarOuter {
        position: fixed;
        top: 80px;
        /* overflow-y: auto; */
        padding-bottom: 80px;

    }

    .userHomePage_contentDiv {
        width: calc(100vw);
    }
}

@media screen and (max-width: 1000px) {
    .userHomePage_contentInnerDiv {
        background-color: transparent;
    }
}