.RoundedIconBUtton_outer {
    width: 52px;
    height: 52px;
    background: #81F14D;
    /* light border */

    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 6px 4px 8px -2px rgba(0, 0, 0, 0.13);
    border-radius: 49px 49px 49px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.RoundedIconBUtton_outer:hover {
    background: #7ae349;
    cursor: pointer;
    box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, 0.379);
}

.user_postTemplate_outerDiv {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
}

.user_postTemplate_innerDiv {
    /* width: 800px; */
    /* height: 400px; */
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-grow: 1;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* shadow spread */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.user_homePage_discussion_template {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 50px 50px 5px 50px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user_homePage_discussion_template_userName {

    background-color: #81F14D;
    color: white;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    font-weight: 700;
    padding: 5px 5px 5px 5px;
}

.user_homePage_discussion_template_text {
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.user_homePage_discussion_template_time {
    padding: 0px 5px 5px 5px;

}

.user_postTemplate_autherDiv {
    height: 60px;
    width: 100%;
    padding-top: 5px;
    padding-left: 15px;
    background-color: #81F14D;
    border-radius: 12px 12px 0px 0px;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.user_postTemplate_contenDiv {
    padding: 20px;
}

.user_postTemplate_contenDiv .heading {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 10px;
}

.user_postTemplate_contenDiv .body {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: justify;
}

.user_postTemplate_contenDiv .intractionDiv {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
}

.user_postTemplate_imageSpace {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    /* flex-wrap: wrap; */
}

.user_postTemplate_imageDiv {
    height: 300px;
    max-width: 400px;
    margin: 0px 8px 0px 8px;
    border-radius: 12px 12px 12px 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 250px;
}

.user_postTemplate_image {
    height: 100%;
    /* width: 100%; */
    object-fit: contain;

}


@media screen and (max-width: 1000px) {
    .user_postTemplate_outerDiv {
        padding: 0px;
        padding-bottom: 40px;
        padding-top: 30px;
    }

    .user_homePage_discussion_template {
        margin: 30px 0px 5px 0px;

    }


}

/* @media screen and (max-width:1000px){
    .user_postTemplate_imageSpace{
        overflow-x: auto;
        overflow-y: hidden;
        height: 300px;
    }
} */