.user_wardInfo_projectPage_discussion_footerDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_wardInfo_projectPage_discussion_footerDiv_inputDiv{
    flex-grow: 1;
    padding-right: 10px;
}
.user_wardInfo_projectPage_discussion_bodyDiv{
    max-height: 100%;
    overflow-y: auto;
}