.inputStyle {
    width: 100%;
    height: 34px;
    background: #FFFFFF;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    border-style: none;
    font-size: large;
}

.inputTitleFont {
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 0;
}
.user_signupPage_form_errorText{
    color: #F14D4D;
    line-height: 1;
    font-size: 16px;
}